body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}
#navbar {
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 521px) {
  #navbar {
    flex-direction: column;
  }
}
#container1 {
  width: auto;
  height: 600px;
  background-position: center center;
  background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: black 1px 10px 10px;
}
#container2 {
  padding-top: 5%;
  padding-bottom: 5%;

  width: auto;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto; */
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

@media (max-width: 1080px) {
  #container2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#sideimage1 {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 10%;
}
#ourrecipe {
  font-size: 40px;
  display: flex;
  border: 2px solid white;

  height: 100px;
  width: 340px;
}
#madewithlove {
  background-color: #6f4e37;
  text-align: center;
}
#container3 {
  padding-left: 40px;
  padding-right: 40px;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: black;
  color: white;
}
#ourmenu {
  width: 40%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#sideimage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 50%;
  border-radius: 10%;
  background-position: center center;
  background-image: url("https://images.unsplash.com/photo-1527596428171-7885b82c91c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=737&q=80");
  display: flex;
  flex-direction: column;
}
#menulist {
  height: auto;
  width: 300px;
  background-color: black;
  text-align: center;
  border-radius: 25px;
}

#menulist > p {
  font-size: 30px;
}
#menulist > p:hover {
  text-shadow: 2px 2px 2px red;
  cursor: pointer;
}

@media (max-width: 850px) {
  #container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
